.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  font-size: 36px;
  color: #2563eb;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
